@import "tailwindcss";

@theme {
  --color-primary: #5694ff;
  --color-secondary: #161616;

  --color-primaryDarkBlue: #00153b;
  --color-primaryBlue: #003084;
  --color-secondaryBlue: #5694ff;
  --color-secondaryLiteBlue: #bbd4ff;
  --color-primaryWhite: #ffffff;
  --color-secondaryWhite: #e6efff;
}
